<ion-header>
  <ion-toolbar>
    <ion-title>Questions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
    <ion-searchbar placeholder="Search..."  [(ngModel)]="searchLabel" animated="true"></ion-searchbar>
    

    <ion-list>
      <ion-item *ngFor="let forum of forums |filter:searchLabel"  >
      <ion-label>{{forum.sujet}}</ion-label>
     
    
      <ion-button (click)="getquestions(forum.id)" >Voir plus</ion-button>

    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button (click)="ajouterForum()" color="tertiary" expand="block">Ajouter une question</ion-button> 
  <ion-button (click)="back()" expand="block">RETOUR</ion-button> 
</ion-footer>