

<ion-content>

  <ion-list>
    <ion-grid>
      <ion-row >
        <ion-card >
          <ion-card-header>
          
          </ion-card-header>
          <ion-card-content  style="height: 400;width: 336px;;">
          
            <canvas height="300px" id="myChart" #myChart></canvas>
          </ion-card-content>
        </ion-card>
      </ion-row>
      <ion-row >
        <ion-card >
          <ion-card-header >
            Diagnostique : 
          </ion-card-header>
          <ion-card-content  style="height: 250px;width: 336px;;">
          
            On peut relativement facilement observer, chez l'enfant autiste, un repli social qui
            consiste à passer beaucoup de temps isolé, sans faire attention à l'entourage, et ceci
            dès le plus jeune âge. Le jeune individu s'intéresse davantage à des objets tels que
            des ficelles, des objets qui tournent, des clés, des objets différents de ceux
            qu'apprécient les enfants « ordinaires ».
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
    
 
  </ion-list>

</ion-content>