
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="2" size="8">
        <img class="logo"  src="assets/images/logo/logo.png" />
      </ion-col>
 
    </ion-row>
  </ion-grid>

  <div>
    <ion-text>
      <h1 class="blue-color" style="text-align: center;">Bienvenue</h1>
      
    </ion-text>
    <ion-text>
    <h5 style="text-align: center;">Connectez vous pour continuer</h5>
  </ion-text>
  </div><br>
 

  <ion-button class="connection-button" color="tertiary" expand="block" (click)="navigateToLogin()">Connectez-vous</ion-button>
  <br>
  <ion-text style="padding-left:46%">
    ou
  </ion-text>
  <br><br>
  <ion-button class="connection-button" color="dark" expand="block" (click)="navigateToRegister()">Inscrivez-vous</ion-button>
  <br>
  <ion-text >
    <p style="font-size:85%;text-align:center;padding-top: 54%;">En vous connectant  , vous acceptez <span style="color:blue;"> termes d'utilisation </span> </p>
  </ion-text>
  
</ion-content>
